h1{
    margin-left: 15%;
}
#banner {
    margin-left: 15%;
}
#banner img{
    max-width: 100%;
}
#slider{
    margin-left: 15%;
    margin-top: 1.5%;
}
#slider img {
    max-width: 100%;
}
#banner-1{
    margin-left: 15%;
    margin-top: 1.5%;
}
#banner-1 img{
    max-width: 100%;
}
#picture {
    margin-left: 15%;
    margin-top: 1.5%;
}
#picture img {
    max-width: 30%;
}
#banner-2{
    margin-left: 15%;
    margin-top: 1.5%;
}
#banner-2 img{
    max-width: 100%;
}
#banner-3{
    height: 468px;
    width: 73%;
    background-color: #E7131A;
    margin-left: 15%;
    margin-top: 1.5%;
}
#banner-3 img{
    max-width: 100%;
}
#banner-3 button {
    height: 40px;
    width: 135px;
    margin-top: 25px;
}
#btn1 {
    margin-left: 35%;
}
.search-promo{
    width: 60%;
    margin-left: 15%;
    margin-top: 5%;
}
.search-promo .html-slot-container h2{
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    color: #333;
    font-family: 400;
}
.search-promo .html-slot-container p {
    font-size: 1rem;
    line-height: 1.75;
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    color: #666;
}