#back {
  font-size: 20px;
}
.back {
  font-size: 15px;
  text-decoration: underline;
  color: rgb(109, 106, 106);
  padding-bottom: 20px;
}
.back:hover {
  text-decoration: none;
  color: #000;
}
.cartBagContainer {
  width: 70%;
  margin: auto;
}
.shoping_bag {
  font-size: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
  color: rgb(58, 56, 56);
}
.firstHeader {
  display: flex;
  padding-top: 10px;
}
.firstHeader > div {
  flex-basis: 50%;
}
.firstHeader > div:nth-child(2) {
  text-align: right;
}
.checkOutbtn {
  background: green;
  width: 25%;
  text-align: center;
  margin-left: auto;
  color: #fff;
  padding: 5px;
  font-size: 100%;
  display: flex;
}
.checkOutbtn > i,
.checkOutbtn > span {
  margin: 1%;
  text-align: center;
  font-size: 100%;
}
.secondHeading {
  text-align: center;
  background: rgb(231, 225, 225);
  margin-top: 20px;
  padding: 6px;
  color: rgb(24, 23, 23);
  font-weight: bold;
}
.thirdHeading {
  padding: 5px;
}
.thirdHeading,
.thirdHeading > div {
  display: flex;
}
.thirdHeading > div {
  flex-basis: 50%;
}
.side1 > i,
.side1 > span {
  margin: 2%;
}
.side2 > i,
.side2 > span {
  margin: 2%;
}
.pink {
  color: rgb(219, 20, 53);
}
.side1 {
  padding-left: 15%;
  border-right: 3px solid rgb(194, 188, 188);
}
.blue_bold {
  color: rgb(13, 13, 105);
  font-weight: bold;
}
.cartfeathersHeading {
  display: flex;
  padding: 7px;
  background: rgb(202, 195, 195);
}
.cartfeathersHeading > .item,
.cartfeathersHeading > .totalprice {
  flex-basis: 40%;
  display: flex;
}
.cartfeathersHeading > .price,
.cartfeathersHeading > .qty {
  flex-basis: 10%;
}
.cartfeathersHeading > .totalprice > div {
  width: 50%;
  margin-left: auto;
}
.control {
  display: flex;
}
.control > div {
  margin: 1%;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgb(99, 95, 95);
  color: #fff;
  cursor: pointer;
}

.item {
  display: flex;
}
.item > div {
  flex-basis: 50%;
}

.bg {
  background: #fff;
  border-bottom: 1px solid green;
  padding-bottom: 17px;
}
.flex {
  display: flex;
}
.flex > div {
  margin: 2%;
}
.im {
  width: 30%;
  height: 20%;
}
.prodImg {
  background-size: cover;
  text-align: center;
}
.prodCategory {
  color: rgb(141, 131, 131);
  font-size: 12px;
}
.promotion {
  font-size: 14px;
  color: green;
  text-decoration: underline;
  padding-top: 12px;
}
.avalaible {
  font-size: 10px;
  color: green;
}
.remove > div {
  color: red;
  background: rgb(238, 228, 228);
  padding: 5px;
}
.remove > div:hover {
  background: rgb(63, 61, 61);
  color: #fff;
}

/* popup */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#success {
  z-index: 2;
  background-color: rgb(10, 31, 23); /* Fallback color */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.popHading {
  border-bottom: 3px solid rgb(194, 184, 184);
  padding-bottom: 10px;
}

.deceisionBtns {
  display: flex;
}
.deceisionBtns > div {
  flex-basis: 50%;
  text-align: center;
}
.deceisionBtns > div > div {
  font-size: 9px;
  font-weight: bold;
  border: 1px solid rgb(211, 209, 209);
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 7px;
}
.proceed {
  background: rgb(7, 7, 7);
  color: rgb(243, 243, 243);
}
.proceed:hover {
  background: rgb(255, 252, 252);
  color: rgb(8, 8, 8);
}
.continueShoping:hover {
  background: rgb(7, 7, 7);
}
.continueShoping > a {
  text-decoration: none;
}
.continueShoping > a:hover {
  color: rgb(243, 243, 243);
}
.form,
.payment {
  width: 90%;
  margin: auto;
  text-align: center;
}
.form > div {
  display: flex;
  margin-top: 2%;
}
.addressLine > input {
  border: none;
  flex-basis: 50%;
  border-bottom: 1px solid rgb(165, 202, 165);
  margin: 1%;
  padding: 2%;
}
.payment > div {
  text-align: left;
  margin: 10px;
  border: 1px solid rgb(190, 187, 187);
}
#p {
  color: green;
  padding: 5px;
  padding-top: 10px;
  background: #d6cfcf;
  text-align: center;
}
.payment {
  display: flex;
  flex-direction: column;
}
/* POPUP END */
